@import "tailwindcss";

@theme {
  --color-tier-peak: #FFD700;
  --color-tier-sss: #9D50BB;
  --color-tier-s: #ff4b4b;
  --color-tier-a: #00C9FF;
  --color-tier-b: #92FE9D;
  --color-tier-c: #bdc3c7;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
